/*헤더*/
header{
    background-image: url(images/header_background.png);
    background-size: cover;
    background-position: center top;
    position:relative;
}


/*폰트*/
p{
    font-family: 'Noto Sans KR', sans-serif;
}

.blackHan{
    font-family: 'Black Han Sans', sans-serif;
}
.notoKR{
    font-family: 'Noto Sans KR', sans-serif;
}
.writing{
    font-family: 'Pacifico', cursive;
}

h1{
    font-family: 'Black Han Sans', sans-serif;
}


/*네비게이션 바 호버링*/
.nav-link:hover, .nav-link:active{
    color: #ffffff;
    background-color: #333333;
}

.category{
    width: 1920px;
    height: 1080px;
    float:left;
    position: absolute;
}

#weather-change {
    background-color: #f3f3f3;
}

#together {
    background-color: #F4F8F5;
}

.circle{
    border-radius: 50%;
}

#together_home{
    background-color: #f3f3f3;
}

.post{
    background-color: white;
}
.post:hover, .post:active{
    background-color: #F4F8F5;
}

.page:hover{
    color: #ffffff;
    background-color: #333333;
}