/*헤더*/
#home{
    background-image: url(images/header_background.png);
    background-size: cover;
    background-position: center top;
    position:relative;
}


/*폰트*/
p{
    font-family: 'Noto Sans KR', sans-serif;
}

.blackHan{
    font-family: 'Black Han Sans', sans-serif;
}
.notoKR{
    font-family: 'Noto Sans KR', sans-serif;
}
.writing{
    font-family: 'Pacifico', cursive;
}

h1{
    font-family: 'Black Han Sans', sans-serif;
}


/*네비게이션 바 호버링*/
.nav-link:hover, .nav-link:active{
    color: #ffffff;
    background-color: #333333;
}

.category{
    width: 1920px;
    height: 1080px;
    float:left;
    position: absolute;
}

#weather-change, #together_home, #consumption {
    background-color: #f3f3f3;
}

#together, #our_earth_home, .post:hover, .post:active, #recycle {
    background-color: #F4F8F5;
}

.circle{
    border-radius: 50%;
}

.post{
    background-color: white;
}

.page:hover{
    color: #ffffff;
    background-color: #333333;
}

.newspaper{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url(images/newspaper_p.jpg);
    background-size: cover;
    background-position: center top;
}

#definition{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)), url(images/what_is_net_zero_main.jpg);
    background-size: cover;
    background-position: center top;
}

td, th{
    padding: 10px 15px;
}

#need{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1.0)), url(images/need_polar.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#goods{
    background-image: linear-gradient(to top, rgba(243, 243, 243, 1.0), rgba(243, 243, 243, 0.0));
}

#daily_home{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)), url(images/practice_main.png);
    background-size: cover;
    background-position: center top;
}

.prac{
    text-decoration: none;
    color:black;
}
.prac:hover, .prac:active{
    background-color: #4B6448;
    color: white;
}

#energy{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)), url(images/energy_conservation_p.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#movement{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(images/public_transport_p.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#protection{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)), url(images/nature_protect_p.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}